* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    position: relative;
}

.hide {
    display: none;   
}

/*
order projects based on duedate on home
create today and this week tabs
add form validation
add confirm changes on enterkey pressed
*/